<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Report</title>
    {{> foundation_style}}
    {{> report_style}}
</head>
<body>
    <div class="callout large primary report-header">
        <div class="row column text-center">
            <h1>{{application_title}}</h1>
            <h2 class="subheader">Test Report for automated tests</h2>
        </div>
    </div>

    <div class="row large-7 columns">
        <h3>Test results</h3>
        <table>
            <thead>
                <tr>
                    <th>Test name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#test_results}}
                    {{> test_result_row}}
                {{/test_results}}
            </tbody>
        </table>
    </div>

    {{> jquery_javascript}}
    {{> foundation_javascript}}
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>
</html>
