<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Configuration section-handler declaration area. -->
    <configSections>
        <section
                name="browserConfiguration"
                type="Tiver.Fowl.WebDriverExtended.Configuration.BrowserConfigurationSection, Tiver.Fowl.WebDriverExtended"
                allowLocation="true"
                allowDefinition="Everywhere" />
        <section
                name="waitConfiguration"
                type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
                allowLocation="true"
                allowDefinition="Everywhere" />
        <section
                name="applicationConfiguration"
                type="Tiver.Fowl.Core.Configuration.ApplicationConfigurationSection, Tiver.Fowl.Core"
                allowLocation="true"
                allowDefinition="Everywhere" />
        <section
                name="driversConfiguration"
                type="Tiver.Fowl.Drivers.Configuration.DriversConfigurationSection, Tiver.Fowl.Drivers"
                allowLocation="true"
                allowDefinition="Everywhere" />
    </configSections>

    <!-- Configuration section settings area. -->
    <browserConfiguration
            browserType="chrome"
            downloadBinary="true">
        <resolution
                width="800"
                height="600" />
    </browserConfiguration>
    <applicationConfiguration
            title="System Under Test Title"
            startUrl="http://ya.ru/" />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>