<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="browserConfigurationGroup">
      <section
        name="browserConfiguration"
        type="Tiver.WebDriverExtended.Configuration.BrowserConfigurationSection, WebDriverExtended"
        allowLocation="true"
        allowDefinition="Everywhere"       
      />
    </sectionGroup>
  </configSections>

  <!-- Configuration section settings area. -->
  <browserConfigurationGroup>
    <browserConfiguration 
      browserType="firefox"
    >
      <resolution 
        width="800" 
        height="600" 
      />
    </browserConfiguration>
  </browserConfigurationGroup>

</configuration>