<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <section
      name="browserConfiguration"
      type="Tiver.Fowl.WebDriverExtended.Configuration.BrowserConfigurationSection, Tiver.Fowl.WebDriverExtended"
      allowLocation="true"
      allowDefinition="Everywhere" />
    <section
      name="waitConfiguration"
      type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
      allowLocation="true"
      allowDefinition="Everywhere" />
    <section
      name="applicationConfiguration"
      type="Tiver.Fowl.Core.Configuration.ApplicationConfigurationSection, Tiver.Fowl.Core"
      allowLocation="true"
      allowDefinition="Everywhere" />
    <section
      name="driversConfiguration"
      type="Tiver.Fowl.Drivers.Configuration.DriversConfigurationSection, Tiver.Fowl.Drivers"
      allowLocation="true"
      allowDefinition="Everywhere" />
  </configSections>

  <!-- Configuration section settings area. -->
  <browserConfiguration
    browserType="chrome"
    downloadBinary="true">
    <resolution
      width="800"
      height="600" />
  </browserConfiguration>
  <driversConfiguration>
    <add name="chrome" downloaderType="ChromeDriverDownloader" version="LATEST_RELEASE" />
  </driversConfiguration>
  <waitConfiguration
    timeout="5000"
    pollingInterval="250">
      <IgnoredExceptions>
          <Exception type="OpenQA.Selenium.NoSuchElementException, WebDriver" />
          <Exception type="OpenQA.Selenium.StaleElementReferenceException, WebDriver" />
      </IgnoredExceptions>
  </waitConfiguration>
  <applicationConfiguration
    title="System Under Test Title"
    startUrl="http://localhost/" />
</configuration>