<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="browserConfigurationGroup">
      <section
        name="browserConfiguration"
        type="Tiver.Fowl.WebDriverExtended.Configuration.BrowserConfigurationSection, Tiver.Fowl.WebDriverExtended"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="waitConfigurationGroup">
      <section
        name="waitConfiguration"
        type="Tiver.Fowl.Waiting.Configuration.WaitConfigurationSection, Tiver.Fowl.Waiting"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="applicationConfigurationGroup">
      <section
        name="applicationConfiguration"
        type="Tiver.Fowl.Core.Configuration.ApplicationConfigurationSection, Tiver.Fowl.Core"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
    <section
      name="driversConfiguration"
      type="Tiver.Fowl.Drivers.Configuration.DriversConfigurationSection, Tiver.Fowl.Drivers"
      allowLocation="true"
      allowDefinition="Everywhere" />
  </configSections>

  <!-- Configuration section settings area. -->
  <browserConfigurationGroup>
    <browserConfiguration
      browserType="chrome"
      downloadBinary="true">
      <resolution
        width="800"
        height="600" />
    </browserConfiguration>
  </browserConfigurationGroup>
  <driversConfiguration>
    <add name="chrome" downloaderType="ChromeDriverDownloader" version="LATEST_RELEASE" />
  </driversConfiguration>
  <waitConfigurationGroup>
    <waitConfiguration
      timeout="5000"
      pollingInterval="250" />
  </waitConfigurationGroup>
  <applicationConfigurationGroup>
    <applicationConfiguration
      title="System Under Test Title"
      startUrl="http://localhost/" />
  </applicationConfigurationGroup>
</configuration>